In [73]:
#importing
import time
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn.metrics import root_mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neighbors import KNeighborsClassifier

In [74]:
#data
df=pd.read_csv('titanic.csv')
print(df.info())
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [75]:
#DATA/X/Y
x=df.drop(columns=['Survived'])
y=df['Survived']

In [76]:
#DROP missing_data
nan_features = x.select_dtypes(include='object').columns.tolist()
for col in nan_features:
  x[col] = x[col].fillna('missing')

In [77]:
#fillna_nan
num_features = x.select_dtypes(include=['int64', 'float64']).columns.tolist()
for col in num_features:
    x[col] = x[col].fillna(x[col].mean())

In [78]:
#encodig
encod_features = x.select_dtypes(include='object').columns.tolist()
for col in encod_features:
    le = LabelEncoder()
    x[col] = le.fit_transform(x[col])

In [79]:
#x,y(train_test)
X_train,X_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [80]:
#scalling
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [99]:
#LogisticRegression
start = time.time()
model=LogisticRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
end=time.time()
acc_logistic=accuracy_score(y_test,y_pred)
print('accuracy:',acc_logistic)
real_time=end-start
print('real_time:',real_time)
error_logistic=root_mean_squared_error(y_test,y_pred)
print('root_mean_squared_error:',error_logistic)

accuracy: 0.8268156424581006
real_time: 0.015433073043823242
root_mean_squared_error: 0.41615424729527806

In [98]:
#KNeighborsClassifier
start = time.time()
model=KNeighborsClassifier()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
end=time.time()
acc_KNeighbors_C=accuracy_score(y_test,y_pred)
print('accuracy:',acc_KNeighbors_C)
real_time=end-start
print('real_time:',real_time)
error_KNeighbors_C=root_mean_squared_error(y_test,y_pred)
print('root_mean_squared_error:',error_KNeighbors_C)

accuracy: 0.7877094972067039
real_time: 0.03471970558166504
root_mean_squared_error: 0.46074993520704494

In [97]:
#LinearRegression
start = time.time()
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
end=time.time()
real_time=end-start
print('real_time:',real_time)
y_pred_class=[round(pred)for pred in y_pred]
acc_linear=accuracy_score(y_test,y_pred_class)
print('accuracy:',acc_linear)
error_linear=root_mean_squared_error(y_test,y_pred)
print('root_mean_squared_error:',error_linear)

real_time: 0.005457639694213867
accuracy: 0.8212290502793296
root_mean_squared_error: 0.3851279611899064

In [96]:
#KNeighborsRegressor
start = time.time()
model=KNeighborsRegressor()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
end=time.time()
real_time=end-start
print('real_time:',real_time)
y_pred_class=[round(pred)for pred in y_pred]
acc_KNeighbors_R=accuracy_score(y_test,y_pred_class)
print('accuracy:',acc_KNeighbors_R)
error_KNeighbors_R=root_mean_squared_error(y_test,y_pred)
print('root_mean_squared_error:',error_KNeighbors_R)

real_time: 0.015185117721557617
accuracy: 0.7877094972067039
root_mean_squared_error: 0.414270577922019

In [104]:
#dicts
acc_dict = {"Logistic Regression": acc_logistic,
             "Linear Regression": acc_linear,
             "KNN Classifier": acc_KNeighbors_C,
             "KNN Regressor": acc_KNeighbors_R}
error_dict = { "Logistic Regression": error_logistic,
              "Linear Regression": error_linear,
              "KNN Classifier": error_KNeighbors_C,
              "KNN Regressor": error_KNeighbors_R}
# best acc,error
best_acc_model = max(acc_dict, key=acc_dict.get)
best_error_model = min(error_dict, key=error_dict.get)
print("Best Accuracy:", best_acc_model, f"({acc_dict[best_acc_model]:.4f})")
print("Lowest Error:", best_error_model, f"({error_dict[best_error_model]:.4f})")

Best Accuracy: Logistic Regression (0.8268)
Lowest Error: Linear Regression (0.3851)